{%extends 'cloudUps/base.html'%}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<div class="container">
    <div class="jumbotron jumbotron text-center">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-title">
                        <h4>The wise Manager of data</h4>
                    </div>
                    <div class="card-body">
                        <p>Wise are those who backup, for their data will be safe in the the day of trouble. Even though they face the blue screen of death, they shall fear no evil.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-image">
                        <img src="/static/images/data-backup.png">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}